{% extends 'base.html' %}
{% load static %}
{% block title %}
Favourite
{% endblock title %}
{% block body %}
<div class="container py-5">
    <!-- Shop Product Start -->
    <div class="col-lg-12 col-md-12">
        <div class="row pb-3">
            {% if products %}
            {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{product.image.url}}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{product}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>${{product.price}}</h6>
                            <h6 class="text-muted ml-2"><del>${{product.price}}</del></h6>
                            
                        </div>
                        <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if product.avr_review < 0.5%}-o{% elif product.avr_review >= 0.5 and product.avr_review < 1%}-half-o{%endif%}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.avr_review < 1.5%}-o{% elif product.avr_review >= 1.5 and product.avr_review < 2%}-half-o{%endif%}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.avr_review < 2.5%}-o{% elif product.avr_review >= 2.5 and product.avr_review < 3%}-half-o{%endif%}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.avr_review < 3.5%}-o{% elif product.avr_review >= 3.5 and product.avr_review < 4%}-half-o{%endif%}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.avr_review < 4.5%}-o{% elif product.avr_review >= 4.5 and product.avr_review < 5%}-half-o{%endif%}"
                                        aria-hidden="true"></i>
                                </span>({{product.count_review}} reviews)
                            </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{{product.get_absolute_url}}" class="btn btn-sm text-dark p-0"><i
                                class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        {% if request.user in product.like.all %}
                        <a href="{% url 'add_to_favourit' product.id%}" class="btn btn-sm text-dark p-0"><i
                                class="fa-solid fa-heart text-primary mr-1"></i>Remove</a>
                        {% else %}
                        <a href="{% url 'add_to_favourit' product.id%}" class="btn btn-sm text-dark p-0"><i
                                class="fa-regular fa-heart text-primary mr-1"></i>To Favourite</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12 text-center">
                <h2>Nothing Found , No Favourite Products</h2>
            </div>
            {% endif %}
            <div class="col-12 pb-1">
                <nav aria-label="Page navigation">
                    {% if products.has_other_pages %}
                    <ul class="pagination justify-content-center mb-3">
                        {% if products.has_previous %}
                        <li class="page-item ">
                            <a class="page-link" href="?page={{products.previous_page_number}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for i in products.paginator.page_range  %}
                        {% if products.number == i %}
                        <li class="page-item active"><a class="page-link">{{i}}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{products.next_page_number}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
    <!-- Shop Product End -->
</div>
{% endblock %}